{% extends 'layout.html.twig' %}

{% block title %}test{% endblock %}

{% block body %}
    {% block pageTitle %}affichage de test {% endblock %}
    <table class="table">
        <tr>
            <th>nom</th>
            <th>prenom</th>
            <th>classe</th>
        </tr>

            <tr>
                <td>Med Salim</td>
                <td>Ben Omrane</td>
                <td>RT2/3</td>
            </tr>

    </table>
{% endblock %}